<!DOCTYPE html>
<html>
<head>
	<title>Dojo's Page: Landing Page Assignment</title>
	<meta charset="utf-8" />
	<meta name="auther" content="Seth Sondenaa" />
    <meta name="description" content="Landing Page" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/dojos_style.css')}}">
</head>
<body>
	<h1>Welcome to the Dojos Page!</h1>
	<form action='' method='post'>
		Username: <input type="text" name="username">
		Password: <input type="password" name="password">
		<input type="submit" value="submit">
	</form>
</body>
</html>