<!DOCTYPE html>
<html>
<head>
	<title>Ninja's Page: Landing Page Assignment</title>
	<meta charset="utf-8">
	<meta name="auther" content="Seth Sondenaa" />
    <meta name="description" content="Landing Page" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/dojos_style.css')}}">
</head>
<body>
	<h1>Welcome to the Ninja Page!</h1>
	<p>Ninjas are top notch programmers trained in the Dojo!</p>
	<p>Also, may be supremely skilled in martial arts and stealth, so make sure you know which one you are dealing with.</p>
	<p>The first type is good for programming your application or webpage. Where as, the second type is good for company security.</p>
</body>
</html>